        * {
            box-sizing: border-box;
        }

        @font-face {
            font-family: lintel;
            src: local(lintel) url(css/lintel.otf);
        }

        body {
            font-family: georgia; /* TODO: Add lintel.otf and reference here */
            margin: 0;
            padding: 0;
            /*overflow-x: hidden;*/
        }

        #container {
            width: 70vw;
            margin: auto;
        }

        #mainHeader {
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            font-weight: lighter;
        }

        .header-inner {
            min-width: 320px;
            max-width: 540px;
            margin: auto;
        }

        .header-logo {
            float: left;
            margin-top:0.2em;
        }

        .header-main {
            font-size:150%;
        }

        .header-tagline {
            color: #696969;
        }

        .experiments-container {
        }

        .experiments-group {
            margin: auto;
            margin-top: 10px;
            width: 100%;
           
        }
        .experiment-previews {
             text-align: center;
        }
      
        .experiment-preview {
            display: inline-block;
            padding: 10px;
            margin: 20px;
            transition: opacity 0.5s ease-in-out, background-color 0.25s ease-in-out;
            text-align: center;
            font-weight: bold;
            box-shadow: 3px 3px 5px #7C7C7C;
        }

        .experiment-preview a {
            text-decoration: none;
            color: initial;
        }
        .experiment-preview h3 {
            margin-bottom: 10px;
        }

        .experiment-preview:hover {
            background-color: #a4e6ff;
        }

        main {
            padding: 2%;
        }

        main .heading {
            font-weight: bold;
            font-style: italic;
            margin-bottom: 10px;
        }
    
        @media all and (max-width: 520px) {
            #container {
                width: 100vw;
            }
            .header-logo {
                display: none;
            }
        }