* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.servo-stats {
    font-family: Helvetica;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background: #666;
    color: #fff;
    display: inline-block;
}

.help {
    font-family: Helvetica;
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 150%;
    transform: translateX(-50%) translateY(-50%);
    color: #BDBDBD;
}

.servo-stats li {
    list-style: none;
}

#demo {
    width: 100vw;
    height: 100vh;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid black;
    transition: all 0.5s ease-in-out;
}

.imageSelector {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 9999;
    text-align: center;
}

.imageSelector img {
    border: 1px solid #BDBDBD;
    box-shadow: 1px 1px 1px 1px #ccc;
    width: 80px;
    cursor: pointer;
    display: block;    
    margin-top: 10px;
}

canvas {
    border: 1px solid black;
}