* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
}

h1, h2, h3 {
	margin: 0;
}

.transitions {
	transition: 1s ease-in-out all;
}

section {
	background: #efefef;
	margin-bottom: 1rem;
	padding: 0.5rem 1rem;
}

#container div.wrapper {
	display: inline-block;
	width: 200px;
	border: 1px solid black;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#container div div {
	width: 200px;
	height: 200px;
	border: 1px dotted rgba(128, 0, 0, 0.5);
	background: rgba(255, 0, 0, 0.5);
}

#container div div img {
	opacity: 0.75;
	width: 100%;
	height: auto;
}

#container div iframe {
	width: 200px;
	height: 200px;
	background: yellow;
	border: 1px dotted blue;
}


/* -- */

.translate {
	transform: translate(10px, 10px);
}

.translate-x {
	transform: translateX(10px);
}

.translate-y {
	transform: translateY(10px);
}

.translate-z {
	transform: translateZ(10px);
}

.translate-3d {
	transform: translate3d(-10px, -10px, -10px);
}

.rotate {
	transform: rotate(-45deg);
}

.rotate-x {
	transform: rotateX(45deg);
}

.rotate-y {
	transform: rotateY(45deg);
}

.rotate-z {
	transform: rotateZ(45deg);
}

.skew {
	transform: skew(15deg, 45deg);
}

.skew-x {
	transform: skewX(15deg);
}

.skew-y {
	transform: skewY(-15deg);
}

.scale {
	transform: scale(1.2, 1.2);
}

.scale-x {
	transform: scaleX(1.2);
}

.scale-y {
	transform: scaleY(1.2);
}

.scale-3d {
	transform: scale3d(1.2, 1.2, 1.2);
}

.perspective {
	transform: rotateY(20deg) perspective(200px);
	transform-style: preserve-3d;
}

.matrix {
	transform: matrix(1, 0, 0, 1, 10, 10);
}
